.main-nav {
	position: relative;
}

.main-nav__list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.main-nav__item a {
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;

	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

@media #{$only-mobile-width} {
	.main-nav__toggle {
		position: absolute;
		top: 17px;
		right: 20px;
		z-index: 1;
	
		width: 23px;
		height: 22px;
	
		cursor: pointer;
		background-color: transparent;
		border: none;
	
		background-size: 23px 22px;
	}
	
	.main-nav--opened .main-nav__toggle {
		background-image: url("../img/cross.svg");
	}
	
	.main-nav--closed .main-nav__toggle {
		background-image: url("../img/gamburger.svg");
	}
	
	.main-nav--closed .main-nav__item:not(.logo) {
		display: none;
	}
	
	
	.main-nav__item {
		border-top: 1px solid #9ac2db;
		border-bottom: 1px solid #678fa8;
		background-color: #81b3d2;
	
		&:first-child {
			border-top: none;
		}
	
		&:last-child {
			border-top: none;
			border-bottom: none;
		}
	}
}

@media #{$tablet-width} {
	.main-nav {
		background-color: #ffffff;
	}

	.main-nav__toggle {
		display: none;
	}

	.main-nav__list {
		display: flex;
		justify-content: space-around;
	}

	.main-nav__item {
		&:nth-child(3) {
			order: 2;
		}

		&:nth-child(4) {
			order: 3;
		}

		&:nth-child(5) {
			order: 1;
		}
	}

	.main-nav__item a {
		color: #000000;
		font-size: 14px;
		line-height: 26px;
	}
}

@media #{$desktop-width} {
	.main-nav {
		
	}
}