html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: "PTSans", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;

	background-color: #333333;
}

img {
	max-width: 100%;
	height: auto;
}