@font-face {
	font-family: 'PTSans';
	src: url('../fonts/PTSans/pt_sans-bold.woff2') format('woff2'),
			 url('../fonts/PTSans/pt_sans-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'PTSans';
	src: url('../fonts/PTSans/pt_sans-regular.woff2') format('woff2'),
			 url('../fonts/PTSans/pt_sans-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}